<div class="body">
    <div class="login">
        <form class="custom-form" method="post">
            <h1>Login</h1>
            <input type="email" [(ngModel)]="loginDto.email" name="email" placeholder="Email" required="required" />
            <input type="password" [(ngModel)]="loginDto.password" name="password" placeholder="Contraseña" required="required" />
            <button type="submit" (click)="doLogin()">Login</button>
        </form>
    </div>
    <div class="img">
        <img src="assets/iniciosesion.jpg" alt="" style="height: 600px; border-radius: 20px;">
    </div>
</div>