<div class="row">
    <div>
        <button mat-button color="primary" (click)="all()">Todos</button>
        <button mat-button color="primary" (click)="user()">Users</button>
        <button mat-button color="primary" (click)="admin()">Admins</button>
    </div>
    <button mat-button color="primary" (click)="create()"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>Añadir usuario</button>
</div>
<br>
<br>
<br>
<app-usuario-item *ngFor="let usuarioResponse of usuarios" [usuarioInput]="usuarioResponse"></app-usuario-item>