.example-card {
    display: inline-block;
    width: 300px;
    border: 1px solid grey;
}

img {
    border: 1px solid black;
    width: 100%;
}

.example-header-image {
    background-size: cover;
}

button {
    float: right;
}