<mat-card class="example-card" style="margin-top: 2%;">
    <mat-card-content>
        <img src="imagen" width="100%" alt="">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>nombre</mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
        <div class="juntos">
            <mat-card-title>Categoria</mat-card-title>
            <mat-card-title>*</mat-card-title>
            <mat-card-title class="telefono">precio</mat-card-title>
        </div>
        <div mat-card-avatar class="example-header-image"></div>
        <a href="http://localhost:4200/anuncio"><button><mat-icon class="delete" aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button></a>
    </mat-card-content>
</mat-card>