.juntos {
    display: flex;
    justify-content: space-evenly;
}

mat-icon {
    margin-top: 48px;
    color: red;
}

.text {
    margin-top: 30px;
}

.text p {
    margin-top: 20%;
}

.like {
    display: flex;
}

a {
    color: blue;
}

img {
    width: 40%;
}

h1 {
    font-size: 16pt;
}

p {
    font-size: 14pt;
}

.hr {
    margin-top: 2%;
    margin-bottom: 2%;
}

.precio {
    margin-right: 400px;
}