.example-card {
    display: inline-block;
    width: 300px;
    border: 1px solid grey;
}

img {
    border: 1px solid black;
}

.example-header-image {
    background-size: cover;
}

.nombre {
    padding-top: 10%;
    text-align: center;
    font-size: 50pt;
}

.categoria {
    font-size: 15pt;
    color: grey;
}

button {
    float: right;
}