<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="push" class="sidenav-menu">
        <h3 class="sidenav-title">Menú</h3>
        <mat-list role="list">

            <mat-list-item role="listitem">
                <a [routerLink]="['/anuncio']" (click)="sidenav.toggle()" routerLinkActive="router-link-active">Anuncios</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <a [routerLink]="['/categoria']" (click)="sidenav.toggle()" routerLinkActive="router-link-active">Categorias</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <a [routerLink]="['/marca']" (click)="sidenav.toggle()" routerLinkActive="router-link-active">Marcas</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <a [routerLink]="['/producto']" (click)="sidenav.toggle()" routerLinkActive="router-link-active">Productos</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <a [routerLink]="['/seccion']" (click)="sidenav.toggle()" routerLinkActive="router-link-active">Seccion</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <a [routerLink]="['/talla']" (click)="sidenav.toggle()" routerLinkActive="router-link-active">Talla</a>
            </mat-list-item>

            <mat-list-item role="listitem">
                <a [routerLink]="['/usuario']" (click)="sidenav.toggle()" routerLinkActive="router-link-active">Usuarios</a>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button (click)="sidenav.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span style="margin-left: 90%; color: #3BB5BD;">
                <div routerLink="/producto" mat-card-avatar style="background-image: url(assets/F.png); background-size: cover;"></div>
            </span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>