<mat-card class="example-card" style="margin-top: 2%;">
    <mat-card-content>
        <img [src]="getAvatar(anuncioInput)" alt="">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{anuncioInput.empresa}}</mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
        <div class="juntos">
            <mat-icon aria-hidden="false" aria-label="Example home icon">link</mat-icon>
            <a class="url" href="{{anuncioInput.url}}" target="_blank">
                <mat-card-title>{{anuncioInput.url}}</mat-card-title>
            </a>
        </div>
        <div mat-card-avatar class="example-header-image"></div>
        <div>
            <a href="http://localhost:4200/anuncio"><button (click)="deleteAnuncio()"><mat-icon class="delete" aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button></a>
            <button (click)="openEditDialog(anuncioInput)"><mat-icon class="edit" aria-hidden="false" aria-label="Example home icon">edit</mat-icon></button>
        </div>
    </mat-card-content>
</mat-card>